  {% extends 'navbar.html' %}}

  {%block contents %}
  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light"></h1>
          <p class="lead"></p>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <div style="width:100%;position:relative;top:0;bottom:0" class="strc1inlineContent" id="mediaisk073le11inlineContent"><style id="mediaisk073le11-mesh-styles">
    </style>
    <div id="mediaisk073le11inlineContent-gridWrapper" data-mesh-internal="true">
      <div id="mediaisk073le11inlineContent-gridContainer" data-mesh-internal="true">
        <div data-packed="true" style="width: 304px; pointer-events: none;" class="txtNew" id="comp-ikmprc7h">
          <h2 class="font_7" style="line-height:0.5em; text-align:center;">
            <span style="letter-spacing:0.2em;">
              <span>- LOCATION -</span>
            </span>
          </h2>
        </div>
        <div data-packed="true" style="width: 304px; pointer-events: none;" class="txtNew" id="comp-ikmpsgl3">
          <p style="text-align:center; line-height:1.5em;" class="font_7">
            <span style="line-height:1.5em;">
              <span style="letter-spacing:0.05em;">서울특별시 강남구</span>
            </span>
          </p>
    
    <p style="text-align:center; line-height:1.5em;" class="font_7">
      <span style="line-height:1.5em;">
        <span style="letter-spacing:0.05em;">대치동 테헤란로 518 </span>
      </span>
    </p>
    </div>
    <div data-packed="true" style="width: 304px; pointer-events: none;" class="txtNew" id="comp-ikmpq5mi">
      <h2 class="font_7" style="line-height:0.5em; text-align:center;">
        <span style="letter-spacing:0.2em;">
          <span>- HOURS -</span>
        </span>
      </h2>
    </div>
    <div data-packed="true" style="width: 304px; pointer-events: none;" class="txtNew" id="comp-ikmpypew">
      <p style="text-align:center; line-height:1.5em;" class="font_7">
        <span style="letter-spacing:0.05em;">
          <span style="line-height:1.5em;">점심 &nbsp;12:00pm - 03:00 pm</span>
        </span>
      </p>
    
    <p style="text-align:center; line-height:1.5em;" class="font_7">
      <span style="letter-spacing:0.05em;">
        <span style="line-height:1.5em;">저녁&nbsp;&nbsp;5:00pm - 10:00pm</span>
      </span>
    </p>
    </div>
    <div data-packed="true" style="width: 304px; pointer-events: none;" class="txtNew" id="comp-ikmpqrsk">
      <h2 class="font_7" style="line-height:0.5em; text-align:center;">
        <span style="letter-spacing:0.2em;">
          <span>- EVENTS -</span>
        </span>
      </h2>
    </div>
    <div data-packed="true" style="width: 304px; pointer-events: none;" class="txtNew" id="comp-ikmpzspn"><p class="font_7" style="line-height:1.5em; text-align:center;">
      <span><span style="letter-spacing:0.05em;">6월의 이벤트 : 없음</span>
    </span>
  </p>
</div>
</div>
</div>
</div>
{% endblock %}
